extends layout
block style 
    link(rel="stylesheet", href="/stylesheets/style.css")
block script_foot
    script(src="/javascripts/users.js")
block content
    #modalConnect.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-body.text-center
                    i(class="fas fa-spinner fa-spin")
                    =" "
                    label(class="font-weight-bold")="Connect to user, please wait..." 

    .basepage.card.border-primary
        .tab
            .chat-list
                .card-header.h-10
                    .chat-list-header.card-title
                        ="Chats"
                .search-box 
                    input(class="form-control form-control-sm" placeholder="Search")
                .chat-list-items
                    each val in contact
                        a(class="chat-list-subitems contact" data-tag=val.tags href="javascript:void(0)")
                            .px-3.py-2
                                .subitems
                                    img(src='https://fastly.picsum.photos/id/230/200/200.jpg?hmac=8tI9ISupCMivMI7f7Q6i24FcYAg812XUEYJFZtaXp_8' alt='')
                                    div
                                        label(class="label-contact")=val.fullname
                                        span(class="last-chat")=val.tags
            .chat-welcome
                .card-body.chat-bg.bg-full
                    .chat-box
                        .start-chat="Klik user untuk memulai chat"

                        //- .chat-me="Lorem ipsum dolor sit amet"
                        
                        //- .chat-from="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

            .chat-view
                .card-header.h-10
                    #user_name.chat-list-header.card-title
                        if !user
                            ="Anonymous"
                        else 
                            =user
                    input(type="hidden" id="mytags" value=`${mytag}`)
                    a(class="btn btn-danger btn-sm text-white" id="close")="Close"
                .card-body.chat-bg
                    #chats.chat-box(style='height: 300px;')
                        //- .start-chat="Klik user untuk memulai chat"
                        //- .chat-me="Lorem ipsum dolor sit amet"
                        
                        //- .chat-from="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                div
                    .input-group
                        input#message.form-control(type='text' style='border-radius: 0px;')
                        .input-group-append
                            button.btn.btn-success(type='button' id="send_message" style='border-radius: 0px;') Send